aside {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    background-color: rgba(210, 206, 206, 0.2);
}

/* aside .slide {
    width: 90%;
} */

aside .items {
    width: 100%;
    /* height: 200px; */
    padding: 10px 15px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

aside a {
    width: 100%;
    display: flex;
}

aside img {
    width: 300px;
    max-width: 130px;
}

aside .video {
    width: 300px;
    height: 20px;
    max-width: 130px;
    max-height: 200px;
}

/* aside .  */



@media (min-width:1800px){

    aside {
        width: 100%;
        padding: 10px 0;
        margin: 10px auto;
        background-color: rgba(210, 206, 206, 0.2);
    }
    
    /* aside .slide {
        width: 90%;
    } */
    
    aside .items {
        width: 100%;
        /* height: 200px; */
        padding: 10px 15px;
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
    }
    
    aside a {
        width: 100%;
        display: flex;
    }
    
    aside img {
        width: 300px;
        max-width: 130px;
    }
    
    aside .video {
        width: 300px;
        height: 20px;
        max-width: 130px;
        max-height: 200px;
    }
    

    
}





