aside {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    background-color: rgba(210, 206, 206, 0.2);
}

aside .items {
    width: 100%;
    padding: 10px;
    display: flex;
}

aside img {
    width: 300px;
    max-width: 100px;
    
}

aside .video {
    width: 300px;
    max-width: 110px;
    /* margin: 10px; */
}
