.message-Container {
    padding: 20px;
    font-weight: 600;
    max-width: 800px;
    margin: auto;
    color: white;
}

.message-Container .message {
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
}

.message-Container .message-btn {
    font-size: 1rem;
    padding: 8px;
}

.message-Container .message-btn:hover {
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.message-Container p {
    margin: 0 0 0 20px;
    font-size: 1rem;
}



/* ..........table head.......... */

.table-Container table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.2);
}

.table-Container thead tr {
    background-color: rgba(210, 206, 206, 0.2);
    text-align: left;

}

.table-Container tr th {
    padding: 12px;
}



/* ..........table body.......... */


.table-Container tbody tr {
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid;
}

.table-Container tr td {
    padding: 12px;
}

.table-Container td a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.table-Container td a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


