header{
    /* width: 100%; */
    color: var(--text-color);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 10px;
}


/* ..........Logo.......... */

.logo{
    width: 50%;
}

.logo img {
    width: 100%;
    /* mix-blend-mode: luminosity; */
    /* filter: contrast(120%); */
    /* -webkit-filter: grayscale(100%); */
}


/* ..........Navbar.......... */

nav ul {
    padding: 0;
    margin: 1.5px 0;
    border: 1px solid white;
}

nav ul li {
    padding: 4px 8px;
    margin: 5px 6px;
    list-style: none;
    background-color: rgb(68, 4, 68);
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}



/* ..........Vision.......... */

.vision {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    display: flex;
}

.vision span {
    white-space: nowrap;
    padding: 0 6px 0 0;
}




