header{
    /* width: 100%; */
    color: var(--text-color);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 3px;
}


/* ..........Logo.......... */

.logo{
    width: 40%;
    margin: 0 2px 0 0;
    align-self: flex-start;

}

.logo img {
    width: 100%;
    /* mix-blend-mode: luminosity; */
    /* filter: contrast(120%); */
    /* -webkit-filter: grayscale(100%); */
}





/* ..........ImageCarousel.......... */


.carousel {
    position: relative;
    width: 160px;
    height: 120px;
    max-width: 800px;
    overflow: hidden;
    margin: auto;
    display: flex;
}
  
.carousel-container {
    display: flex;
    transition: transform 1s ease-in-out;
}

/* .carousel-container .img {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
} */
  
.carousel-image {
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
}
  
.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    display: none;
}
  
.prev-button {
    left: 10px;
}
  
.next-button {
    right: 10px;
}

  
  
  /* New CSS for Modal Overlay */
  
/* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
} */
  
/* .modal-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
} */
  
/* .modal-content img {
    max-width: 80vw;
    max-height: 80vh;
    transition: transform 0.3s ease;
} */
  
/* .modal-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 15px;
    white-space: nowrap;
    
} */
  
/* .modal-buttons button, .modal-buttons a {
    padding: 8px 12px;
    background:rgb(112, 10, 229);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
} */
  
/* .modal-buttons button:hover, .modal-buttons a:hover {
    background: #0056b3;
} */




.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-container {
    width: 80%;
}


.modal-content .img-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    display: flex;
}

.modal-content {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    display: inline-block;
}


.modal-content img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 80vw;
    max-height: 80vh;
    transition: transform 0.3s ease;
    pointer-events: none;
}
  
.modal-prev-button, .modal-next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    padding: 7px;
}

.modal-prev-button:hover, .modal-next-button:hover {
    background: black;
}
  
.modal-prev-button { left: 10px; }
.modal-next-button { right: 10px; }
  
.modal-buttons {
    display: flex;
    gap: 1.2rem;
    justify-content: flex-end;
    margin: 20px 25px;
}
  
.modal-buttons button, .modal-buttons a {
    background: transparent;
    border: none;
    cursor: pointer;
}
  
.modal-buttons .icon {
    width: 24px;
    height: 24px;
    color: white;
}

.modal-buttons .icon:hover {
    color: green;
}
  
  




  




/* ..........Navbar.......... */


nav ul {
    padding: 0;
    margin: 1.4px 0 0 8px;
    border: 1px solid white;
    font-size: .6rem;
}    

nav ul li {
    padding: 4px 8px;
    margin: 4px 5px;
    color: var(--text-color);
    list-style: none;
    background-color: rgb(68, 4, 68);
    white-space: nowrap;
}    

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}    




/* ..........Vision.......... */

.vision {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    display: flex;
}

.vision span {
    white-space: nowrap;
    padding: 0 6px 0 0;
}

marquee{
    align-self: center;
}










@media (min-width:600px) {


    /* .logo{
        width: 50%;
    } */

    /* ..........Navbar.......... */

    nav {
        /* width: 35%; */
    }
    
    nav ul {
        margin: 1.8px 0;
        border: 1.5px solid white;
        font-size: var(--midfont);
    }
    
    nav ul li {
        padding: 8px 10px;
        margin: 5px 7px;
    }


    /* ..........Vision.......... */

    .vision {
        padding: 15px;
    }

    .vision span {
        padding: 0 10px 0 0;
        font-size: var(--big-font);
    }

    marquee{
        font-size: var(--midfont);
    }
    
}







@media (min-width:1200px){

    /* ..........Navbar.......... */

    nav {
        /* width: 35%; */
    }
    
    nav ul {
        margin: 2px 0;
        border: 2px solid white;
        font-size: var(--big-font);
    }
    
    nav ul li {
        padding: 10px 12px;
        margin: 8px 10px;
    }


    /* ..........Vision.......... */

    .vision {
        padding: 20px;
    }

    .vision span {
        padding: 0 10px 0 0;
        font-size: var(--big-font);
    }

    marquee{
        font-size: var(--big-font);
    }

}





@media (min-width:1800px){


    /* ..........Navbar.......... */

    nav {
        /* width: 35%; */
    }
    
    nav ul {
        margin: 3px 0;
        border: 3px solid white;
        font-size: var(--biger-font);
    }
    
    nav ul li {
        padding: 13px 16px;
        margin: 10px 14px;
    }


    /* ..........Vision.......... */

    .vision {
        padding: 40px;
    }

    .vision span {
        padding: 0 15px 0 0;
        font-size: var(--biger-font);
    }

    marquee{
        font-size: var(--biger-font);
    }


}





