header{
    color: var(--text-color);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 3px;
}


/* ..........Logo.......... */

.logo {
    width: 50%;
    margin: 0 2px 0 0;
    /* align-self: flex-start; */
}

.logo img {
    width: 100%;
    /* mix-blend-mode: luminosity; */
    /* filter: contrast(120%); */
    /* -webkit-filter: grayscale(100%); */
}



/* ..........Navbar.......... */


nav ul {
    padding: 0;
    margin: 1.4px 0 0 8px;
    border: 1px solid white;
    font-size: .6rem;
}        

nav ul li {
    padding: 4px 8px;
    margin: 4px 5px;
    color: var(--text-color);
    list-style: none;
    background-color: rgb(68, 4, 68);
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}        

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}




/* ..........link-options.......... */
  
li .link-options {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    /* flex-direction: column; */
    /* gap: 2px; */
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
    /* padding: 2px 5px; */
    /* background: rgba(0, 0, 0, 0); */
    border-radius: 5px;
    box-shadow: 0px 50px 50px rgb(0, 0, 0);
    /* box-shadow: 0px 0px 50px rgb(0, 0, 0); */
    transition: opacity 0.3s ease;
    z-index: 90;
    text-align: center;
    font-weight: 700;
    align-items: center;
}

/* the hover */

/* .hover-item:hover .link-optional {
    position: relative;
    display: flex;
} */



li .link-optional {
    /* position: absolute; */
    top: 50%;
    transform: translateY(20%);
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px;
    /* margin: 4px; */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    z-index: 90;
    text-align: center;
    font-weight: 700;
    border: 1px solid white;
}

li .link-options .option-icon-btn {
    color: white;
    font-size: 2rem;
    display: none;
}

  
li:hover  li .link-options {
    opacity: 1;
}
  
li .link-options.left {
    /* display: flex; */
    /* align-items: center; */
    right: 105%; /* Position to the left */
}
  
li .link-options.right {
    left: 20%; /* Position to the right */
}
  
li .link-option {
    color: #fff;
    text-decoration: none;
    padding: 4px 6px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.001);
}
  
li .link-option:hover {
    color: white;
    border: 1px solid white;
}


/* ..........Vision.......... */

.vision {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    display: flex;
}    

.vision span {
    white-space: nowrap;
    padding: 0 6px 0 0;
}    

marquee{
    align-self: center;
}    








@media (min-width:450px) {

    /* ..........Logo.......... */

    .logo{
        width: 50%;
        margin: 0;
    }

   

}



@media (min-width:700px) {



    /* ..........Navbar.......... */

    nav {
        /* width: 35%; */
    }
    
    nav ul {
        margin: 1.6px 0 1.6px 10px;
        border: 1.5px solid white;
        font-size: 1.2rem;
    }

    /* ..........Navbar.......... */

    nav {
        /* width: 35%; */
    }
    
    nav ul {
        margin: 1.6px 0 1.6px 10px;
        border: 1.5px solid white;
        font-size: 1.2rem;
    }
    
    nav ul li {
        padding: 8px 10px;
        margin: 5px 7px;
    }


    /* ..........Vision.......... */

    .vision {
        padding: 15px;
    }

    .vision span {
        padding: 0 10px 0 0;
        font-size: var(--big-font);
    }

    marquee{
        font-size: var(--midfont);
    }
    
}



@media (min-width:1000px) {

    
    /* ..........Navbar.......... */

    nav {
        /* width: 35%; */
    }
    
    nav ul {
        margin: 1.6px 0 1.6px 10px;
        border: 1.5px solid white;
        font-size: 1.2rem;
    }


}





@media (min-width:1200px){

    /* ..........Navbar.......... */

    nav {
        /* width: 35%; */
    }
    
    nav ul {
        margin: 2px 0 2px 15px;
        border: 2px solid white;
        font-size: var(--big-font);
    }
    
    nav ul li {
        padding: 10px 12px;
        margin: 8px 10px;
    }


    /* ..........Vision.......... */

    .vision {
        padding: 20px;
    }

    .vision span {
        padding: 0 10px 0 0;
        font-size: var(--big-font);
    }

    marquee{
        font-size: var(--big-font);
    }

}





@media (min-width:1800px) {


    /* ..........Navbar.......... */

    nav {
        /* width: 35%; */
    }
    
    nav ul {
        border: 3px solid white;
        font-size: var(--biger-font);
    }
    
    nav ul li {
        padding: 13px 16px;
        margin: 10px 14px;
    }


    /* ..........Vision.......... */

    .vision {
        padding: 40px;
    }

    .vision span {
        padding: 0 15px 0 0;
        font-size: var(--biger-font);
    }

    marquee{
        font-size: var(--biger-font);
    }


}





