header{
   color: var(--text-color);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 10px;
}


/* ..........Logo.......... */




/* ..........Navbar.......... */

nav ul {
    padding: 0;
    margin: 1.5px 0;
    border: 1px solid white;
}

nav ul li {
    padding: 4px 8px;
    margin: 5px 6px;
    list-style: none;
    background-color: rgb(92, 5, 92);
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}


