body {
    padding: 0;
    margin: 0;
}

:root {
    --text-color: white;
    --bg-color: linear-gradient(90deg, rgb(82, 9, 124),rgb(171, 30, 17),rgb(82, 9, 124));;
    --font: .8rem;    
    --big-font: 2.5rem;
}

.content {
    width: 100%;
    height: 100vh;
    font-size: var(--font);
    background: var(--bg-color);
}

/* div{
    color: purple;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    margin: 8px;
}

.icon{
    background: purple;
} */