body {
    padding: 0;
    margin: 0;
}

:root {
    --text-color: white;
    --bg-color: linear-gradient(90deg, rgb(82, 9, 124),rgb(171, 30, 17),rgb(82, 9, 124));
    --sm-font: .5rem;
    --font: .7rem;
    --big-font: 2.5rem;
}

.content {
    width: 100%;
    /* height: 100vh; */
    font-size: var(--font);
    background: var(--bg-color);
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-size: var(--font);
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social .icon {
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    background: white;
}

footer .map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

footer p {
    text-align: center;
}

