body {
    padding: 0;
    margin: 0;
}

:root {
    --text-color: white;
    --bg-color:purple;
    --font: 2rem;    
    --big-font: 2.5rem;
}

.content {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: var(--bg-color);
}

/* div{
    color: purple;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    margin: 8px;
}

.icon{
    background: purple;
} */